/src/best_model.pth
/.venv/
/data_flood/
/collcted_results/delete_me_results/
/collcted_results/test_results/
/collcted_results/uncleanFLOOD_32x8_GLCM-on_results/
/collcted_results/uncleanFLOOD_results/
/collcted_results/uncleanFLOODglcm_results/
/collcted_results/my_data_GLCM-on_results/
/collcted_results/GLCM-on_results/
/collcted_results/GLCM-off_results/
/collcted_results/test_results/
/data_my/
/collcted_results/uncleanFLOODglcm_1to1weights_results/
/collcted_results/
/____________________________results/
/____________optune_results/
/nulllllllllllllllllll_results/
/____________optune2_results/
